
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,900|Roboto+Condensed:400,700,300|Playfair+Display:400,400italic);

/*HEADER*/

  header {
  width: 100%;
  height: 100px;
  background-image: url("../img/logotype.png");
  background: #FEEE98;
  background: url("../img/logotype.png"), -webkit-linear-gradient(rgba(254, 238, 152,1)0%, rgba(255, 255, 255,1)70%); /* Safari 5.1 to 6.0 */
  background: url("../img/logotype.png"), -o-linear-gradient(rgba(254, 238, 152,1)0%, rgba(255, 255, 255,1)70%); /* For Opera 11.6 to 12.0 */
  background: url("../img/logotype.png"), -moz-linear-gradient(rgba(254, 238, 152,1)0%, rgba(255, 255, 255,1)70%); /* For Firefox 3.6 to 15 */
  background: url("../img/logotype.png"), linear-gradient(rgba(254, 238, 152,1)0%,rgba(255, 255, 255,1)70%); /* Standard syntax */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
	}  

/*LAYOUT*/
.container-fluid{
    padding: 0 9%; 
}

/* BAKGRUNDSFÄRG*/

.blue {
background-color: #AEE8E6;
}

/*BAKGRUNDSBILDER*/

#index{
    background-image: url(../img/sky.jpg);
    background-position: center bottom;
    background-size: cover;
    height: auto;
    max-width: 100%;
}

#kartaNoscript{ 
background-image: url("../img/kartamobil.jpg");
background-size: cover;
background-position: center left; 
height: 280px;
max-width: 100%;
}

#kartaScript{
height: 280px;
max-width: 100%;
}

/* BILDRAMAR */

.portfolio-img{
border: 12px solid #bebebe;
box-shadow: 5px 5px 10px grey;
}

/*FORMULÄR*/

form {
padding: 24px 0;
}


/*TYPOGRAFI*/
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
    margin: 0.8em 0;
}

h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
 /* font-size: 1em; */
  text-transform: uppercase;
  text-align: left;
}


a:link{
  border-bottom: thin dotted;
    word-break: break-all;
}

a:hover, a:focus{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

a:visited{
  border-bottom-style: dotted;
}

ol{
    padding-left: 0;
    text-align: center;
    font-style: italic;
    list-style-position: inside;
}

.lonep{
margin-top: 1.8em;
}
/*MEDARBETARE*/
.medarbetare figure:nth-child(1) {
	padding-right: 5%;
}
.medarbetare figure:nth-child(2) {
	padding-right: 2.5%;
	padding-left: 2.5%;
}
.medarbetare figure:nth-child(3) {
	padding-left: 5%;
}

.medarbetare img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	border: 10px solid #FFF;
	border-radius: 5px;
}

.medarbetare figcaption {
	text-align: center;
}

.medarbetare figcaption span {
	text-transform: uppercase;
}

/*FOOTER*/

footer {
  background-color: #FEEE98;
  /* padding: 2.5em 0; */
  background: -webkit-linear-gradient(rgba(255, 255, 255,1)0%,rgba(254, 238, 152,1)80%); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255,1)0%,rgba(254, 238, 152,1)80%); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255,1)0%,rgba(254, 238, 152,1)80%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255,1)0%,rgba(254, 238, 152,1)80%); /* Standard syntax */
}

footer .container-fluid {
  padding: 0;
  
}

address {
	margin: 0;
}

/* MENY */

.navbar {
	padding: 0;
	margin-bottom: 0;
	border: none;
}

#lista a, li {
	border: none;
}

#lista a {
	text-transform: uppercase;
	font-size: 1.5em;	
	padding: 10px;
	line-height: 0.75em;
}

#lista {
	margin-top: 22px;
}

#lista li {
	display: block;
	width: 100%;
}

.navbar button {
	padding: 0;
	border: none;
}

.navbar-toggle .icon-bar {
	background-color: #000;
}

#utanJS {
  margin: 0;
  padding-top: 15px;
  background-color: #FFF;
}

#utanJS li {
  list-style: none;
  background-color: #FFF;
  padding: 3px 0;
  text-align: center;
  margin-left: -40px;
}

#utanJS li a {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: #000;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


/*MEDIA QUERIES*/
@media only screen and (min-width: 500px){   
    
  .container-fluid {
  padding: 0 12.5%; 
	}
  
  #email {
  padding-right: 5px;
  }
  
  #kartaNoscript{ 
      background-image: url("../img/karta.jpg");
  }
  
  header {
    height:175px;
  }

  /*TYPO FÖR TABLET*/
  p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  h2 {
    font-size: 3em;
  }
  
  h3, h4 {
    font-size: 1.4em;
    line-height: 0.8em;
    /*margin-bottom: 0.4em; */
    
  }

  .lead {
  font-size: 1.8em;
  line-height: 1.6em;
  }
  
}

@media (min-width: 768px){
    
  .container-fluid{
  padding: 0 22.5%;
  }
  
  #kartaNoscript, #kartaScript{
  height: 350px;}
  
  
  div.container-fluid.portfolio{
  padding: 0;
  }
  
  article.portfolio{
  padding: 4%;
  }
  
  article.portfolio h3, article.portfolio p{
  padding-left: 25px;
  }

	nav .container-fluid {
		padding: 0;
	}

	#lista {
		padding-left: 17%;
	}

	.navbar a {
		width: auto;
		float: left;
		display: block;
		margin: 0 15px;
	}

	.navbar a:hover {
	font-weight: 600;
	}

	.navbar li.active a{
		background-color: #AEE8E6;
	} 

  #utanJS {
    display: none;
  }
  
  header {
	height: 250px;
	}  
  
  /*TYPO FÖR DESKTOP*/
  p {
    font-size: 1.25em;
    line-height: 1.65;
  }
  
  h2 {
    font-size: 3.65em;
  }
  
  h3, h4 {
    font-size: 1.5em;
    line-height: 1em;
    /*margin-bottom: 0.4em; */
  }
    
h3.pull-right, p.pull-right{
    margin-top: 0.5em;
    margin-bottom: 0;
}

  .lead {
  font-size: 2em;
  line-height: 1.6em;
  }

}




